<div class="container-fluid text-center">
    <h1>About</h1>
    <div class = "row">
        <div class = "col-md-6 col-md-offset-3 well text-left">
            <br>
            <p>This is Fighterank, where I utilize a mathematical algorithm to determine
            exactly who the best mma fighters in the world really are. I do so based on a
            recursive search that factors in all of the fighters who the given fighter has
            fought, and add or subtract a value based on the win/loss ratios of those fighters.</p>
            <br>
            <p><strong>Example: </strong></p>
            <p><strong>Given: </strong>Fighter A has defeated Fighter B and Fighter C and lost to fighter D</p>
            <p><strong>Algorithm: </strong></p>
            <p><strong>1. </strong>Check out the wins and losses of fighters B, C, and D</p>
            <p><strong>2. </strong>Come up with that fighter's specific win ratio</p>
            <p>(example) B has 4 wins 3 losses, his/her win ratio is 4/7</p>
            <p><strong>3. </strong>Now put the information in this equation relative to fighter A:</p>
            <p>A = (((B's win ratio) + (C's win ratio)) - (1 - D's win ratio)) / (Total fights of A)</p>
            <p><strong>4. </strong>I normalize the values and map them from 0 to 100</p>
        </div>
    </div>
</div>
