<div class="home-callout text-center container-fluid">
    <h1>Welcome to FighteЯank</h1>
    <h3>This is a mathematically generated fighter ranking system.<br> No bias is included, merely algorithms.</h3>
</div>
