.avatar-show-img {
    width: 128px;
    height: 128px;
}

.vertical-line {
    border-left: thin solid black;
    padding-left: 20px;
}

.job-title-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #191970;
    border-radius: 4px;
    background-color: #0000cd;
    color: white;
    text-align: center;
}

.well.profile-block {
    color: #fff;
    h3 {
        margin-top: 0;
    }
}

.well.profile-description {
    background-color: #9932cc;
    border-color: #8b008b;
}

.well.profile-contact-info {
    background-color: #dc143c;
    border-color: #8b0000;
}

// User Index Page Styles
.user-index-avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.well.dark-gray-bg {
    background-color: #898989;
}

.well.light-gray-bg {
    background-color: #c9c9c9;
}